body {
    padding: 10px;
    background-color: rgb(197, 233, 197);
}

.customBorder {
    border: 2px solid rgb(0, 0, 0);
    padding: 10px
}

table {
    padding: 10px;
    position: relative;
}

button {
    width: 70px;
    height: 70px;
    border: none;
    font-size: x-large;
}

#calc {
    position: relative;
    text-align: center;
    width: 330px;
}

input {
    bottom: 10px;
    width: 270px;
    height: 30px;
    font-size: x-large;
}

#footnote {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#displayAndBackspace {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

#backspace {
    position: relative;
    left: 10px;
    width: 40px;
    height: 40px;
    font-size: medium;
}
