body {
    background-color: rgb(197, 233, 197);
}

.customBorder {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2%;
    padding: 10px;
    background-color: rgb(89, 95, 92);
}

table {
    position: relative;
    padding: 10px;
}
button {
    width: 70px;
    height: 70px;
    border-style: outset;
    border-width: 5px;
    border-color: rgb(206, 206, 206);
    font-size: xx-large;
}
#siteIcon {
    position: relative;
    width: 50px;
}
#calc {
    position: relative;
    text-align: center;
    width: 330px;
    height: auto;
    margin: auto;
}
input {
    bottom: 10px;
    width: 270px;
    height: 30px;
    font-size: x-large;
    text-align: right;
    border: 2px solid;
}
#footnote {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: larger;
}

#displayAndBackspace {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}
#backspace {
    position: relative;
    left: 10px;
    width: 40px;
    height: 40px;
    font-size: medium;
}
