body {
    background-color: rgb(197, 233, 197);
}
.customBorder {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2%;
    padding: 10px;
    background-color: rgb(89, 95, 92);
}
table {
    position: relative;
    padding: 10px;
}
button {
    background-color: rgb(255, 255, 255);
    width: 80px;
    height: 80px;
    border-style: outset;
    border-width: 5px;
    border-color: rgb(206, 206, 206);
    font-size: 40px;
}
#siteIcon {
    position: relative;
    width: 50px;
}
#calc {
    position: relative;
    text-align: center;
    width: 410px;
    height: auto;
    margin: auto;
}
::placeholder {
    color: black;
}

#display {
    text-wrap: nowrap;
    bottom: 10px;
    min-width: 340px;
    resize: none;
    min-height: 100px;
    font-size: 30px;
    text-align: right;
    border: 2px solid;
    border-bottom: none;
    font-family: Arial, Helvetica, sans-serif;
}

#answerDisplay {
    position: relative;
    text-wrap: nowrap;
    min-width: 340px;
    resize: none;
    min-height: 40px;
    max-height: 40px;
    font-size: 30px;
    text-align: right;
    border: 2px solid;
    border-top: none;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 4px;
}

#footnote {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: larger;
}
#displayAndSideButtons {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}
#backspace {
    position: relative;
    left: 6px;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

#calcAndHist {
    display: flex;
    margin: auto;
    width: min-content;
}

#histContainer {
    display: none;
    position: relative;
    border: 2px solid black;
    width: 300px;
    padding: 5px;
    height: 613px;
    border-radius: 2%;
    overflow: scroll;
    left: 20px;
    font-size: larger;
    background-color: rgb(211, 211, 211);
}

li {
    position: relative;
    top: 20px;
    margin-bottom: 2px;
    list-style-type: none;
    width: min-content;
    height: min-content;
}

#listedHistory {
    font-size: 20px;
    height:min-content;
    width: min-content;
    border: 1px solid rgb(206, 206, 206);
}

#showHistory {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 20px;
    top: 0px;
    left: 440px;
}

#hideHistory {
    position: absolute;
    right: 5px;
    width: 40px;
    height: 30px;
    font-size: 25px;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
}

#clearHistory {
    position: absolute;
    top: 40px;
    right: 5px;
    width: 40px;
    height: 40px;
    font-size: 25px;
}

#histTitle {
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Arial Narrow', Arial, sans-serif;
    width: fit-content;
    text-decoration: underline;
}
