body {
    background-color: rgb(44, 44, 44);
}

#profilePic {
    position: relative;
    top: 5px;
    bottom: 5px;
    width: 20%;
    height: 20%;
    border-radius: 10%;
}

p {
    color: white;
    position: relative;
    top: 20px;
    left: 5px;
    font-size: larger;
}

footer {
    color: white;
    position: relative;
    top: 30px;
    left: 5px;
}

#header {
    color: white;
    position: relative;
    top: 5px;
    left: 5px;
}

#icon {
    position: relative;
    width: 4%;
    height: 4%;
    bottom: 3px;
}

#linkTitle {
    font-size: large;
    text-decoration: underline;
}

a {
    color: rgb(87, 161, 185);
    text-decoration: underline;
    
}

#gitubIcon, #linkedinIcon, #emailIcon {
    width: 4%;
    background-color: aliceblue;
}

#scratch {
    font-size: smaller;
    text-align: center;
    position: relative;
    top: 100px;
}