body {
    background-color: rgb(36, 36, 36);
    background-image: url("Assets/Background/Cobblestone.png");
}
#siteIcon {
    position: relative;
    width: 50px;
}
#siteIcon {
    position: relative;
    width: 50px;
}
#header {
    position: relative;
    bottom: 5px;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    text-align: center;
    margin: auto;
    padding-right: 50px;
    color: rgb(255, 251, 0);
}
#display {
    top: 20px;
    position: relative;
    border: 2px solid rgb(88, 88, 88);
    background-color: black;
    margin: auto;
    width: 900px;
    height: 700px;
    overflow: hidden;
}

.menu {
    position: relative;
    text-align: center;
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}