body {
    background-color: rgb(54, 53, 53);
    color: white;
    padding: 10px;
}
a {
    color: rgb(129, 213, 219);
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.customBorder {
    border: 2px solid rgb(85, 85, 85);
    padding: 10px;
}
/*--------------------------------------------------------------------------------------*/
#headerContainer {
    display: flex;
}
#siteIcon {
    position: relative;
    width: 50px;
}
#header {
    position: relative;
    font-size: 60px;
    width: 100%;
    text-align: center;
    padding-right: 50px;
}
/*--------------------------------------------------------------------------------------*/
#resumeContainer {
    text-align: center;
}
#resume {
    position: relative;
    top: 20px;
    overflow: scroll;
    width: 840px;
    height: 1110px;
    border: none;
    margin: auto;
    display: block;
}
#resumeLink {
    position: relative;
    bottom: 60px;
}
/*--------------------------------------------------------------------------------------*/
#bottomPageLine {
    border-top: 1px solid rgb(78, 78, 78);
}
#linksTable {
    text-align: center;
}
#githubIcon, #linkedinIcon {
    width: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
}
#links {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    max-width: 250px;
    margin: auto;
}
#scratch {
    font-size: smaller;
    text-align: center;
}